apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
data:
  NEXT_PUBLIC_BACKEND_URL: "http://{{ include "todo-app.fullname" . }}-backend:8000"
