apiVersion: v1
kind: Secret
metadata:
  name: {{ include "todo-app.fullname" . }}-secret
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
type: Opaque
data:
  BETTER_AUTH_SECRET: {{ "super-secret-key-that-is-standard" | b64enc | quote }}
  DATABASE_URL: {{ "sqlite:///./todo.db" | b64enc | quote }}
  OPENAI_API_KEY: {{ "sk-placeholder" | b64enc | quote }}
